<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>539544255010-nmkhu5safq7bu9k43lvgs9hhgu8c41fe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.539544255010-nmkhu5safq7bu9k43lvgs9hhgu8c41fe</string>
	<key>API_KEY</key>
	<string>AIzaSyDdjJ2ZQtQlWgAPBjXXoKQhgEuwg5_OkrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>539544255010</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oybek.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-36a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-36a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:539544255010:ios:47e36cb0abf7f3c84ee87b</string>
</dict>
</plist>